<%= render "partials/header" %>
<h1>Edit <%= @post.title %></h1>
<p>
  <% if @author.errors.any? %>
    <% @author.errors.full_messages.each do |error| %>
      <%= error %>
    </p>
    <% end %>
  <% end %>
</p>

<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </p>
  
  <p>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>

  <%= f.submit %>
<% end %>

<p>
  <%= link_to "Delete Post Entry", post_path, method: "DELETE", data: {confirm: "Are you sure you want to delete this post?"} %>
</p>

<%= render "partials/footer" %>