<%= render "partials/header" %>
<div class="page-header">
  <h1>Add a new post to <%= @author.first_name %></h1>
</div>

<div class="col-lg-6">
<%= form_for [@author, @post], class: "form-horizontal" do |f| %>
  <div class="well bs-component">
  <fieldset>
  <legend>
  Write it
  </legend>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </p>
  
  <p>
    <%= f.label :category %>
    <%= f.text_field :category, class: "form-control" %>
  </p>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  </fieldset>
  </div>
<% end %>

  <ul class="pager">
    <li class="previous"><%= link_to 'â† Back', url_for(:back) %></li>
  </ul>
  </div>


<div class="col-lg-6">
    <% if @author.errors.any? %>
      <div class="panel panel-danger">
        
      <div class="panel-heading">
          <h3 class="panel-title">Errors</h3>
      </div>
        <div class="panel-body">
        <ul>
          <% @author.errors.full_messages.each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
        </div>

      </div>
    <% end %>
</div> 

<%= render "partials/footer" %>
