<%= render "partials/header" %>
<div class="page-header">
  <h1>
    <%= @author.first_name + " " + @author.last_name %> 
    <%= link_to "Edit author", edit_author_path(@author), class: "btn btn-warning" %>
  </h1>
</div>

<p class="lead">
  <%= @author.first_name %> is <em><%= @author.age %></em> and has written the following posts:

  <ol>
    <% @author.posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %>
      </li>
    <% end %>
  </ol>
</p>

<p>
  <%= link_to "Add a post", new_author_post_path(@author), class: "btn btn-primary" %>
</p>

<div class="page-header"></div>
<ul class="pager">
  <li class="previous"><%= link_to 'â† Back', url_for(:back) %></li>
</ul>

<%= render "partials/footer" %>